:root {
  --white: #fff;
  --primary: #4eb6bd;
  --grey: #d8e1e5;
}

* {
  font-size: 14px;
}

body {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(18,38,139,1) 0%, rgba(0,122,186,1) 100%);
}

.app {
  padding: 100px 150px;
}

.filter-and-heading {
  display: flex;
  align-items: center;
}

.heading {
  color: var(--white);
  text-transform: uppercase;
  font-size: 24px;
  padding: 10px 40px;
}
